<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--
    <bean id="customer" class="beans.Customer">
</bean>
-->

    <bean id="customer" class="beans.Customer">
        <property name="id" value="1"></property>
        <property name="name" value="Sundar"></property>
        <property name="location" value="Bengaluru"></property>
    </bean>

    <bean id="employee" class ="beans.Employee">
        <constructor-arg name="code" type="int" value="100"></constructor-arg>
        <constructor-arg name="name" type="String" value="Ravi"></constructor-arg>
        <constructor-arg name="dept" type="String" value="IT"></constructor-arg>
    </bean>

</beans>