<h1>Template Driven Form</h1>

<form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
    <div>
        <label>Name</label>
        <input type="text" name="name" ngModel required #nameCtrl="ngModel">
        <p *ngIf="!nameCtrl.valid">Name is mandatory</p>
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="email" ngModel required #emailCtrl="ngModel">
        <p *ngIf="emailCtrl.touched && !emailCtrl.valid">Email is mandatory</p>
    </div>
    <div>
        <label>Mobile</label>
        <input type="number" name="mobile" ngModel>
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" ngModel required>
    </div>
    <div>        
        <input type="submit" value="Sign Up" [disabled]="!signUpForm.valid">
    </div>

    <div>
        <h1>Form Data - {{signUpForm.value.email}}</h1>
    </div>

</form>
