<header>
<nav>
    <!--
    <a href="home">Home</a>
    <a href="aboutus">About Us</a>
    <a href="contact">Contact</a>
    <a href="product">Product</a>
-->

<a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/aboutus" routerLinkActive="active">About Us</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>    
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    
</nav>


</header>